.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px 50px;
}

.header__menu {
    display: flex;
}

.header__links-list {
    display: flex;
    list-style:circle;
    gap: 40px;
    color: rgb(0, 0, 0);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}

.header__links-list-item1 {
    list-style: none;
}

.header__logo {
    display: flex;
    justify-content: center;
    width: 148px;
    height: 105px;

}

.header__logo-image {
    width: 148px;
    height: 105px;
}

.address {
    display: flex;
    justify-self:end;
    padding-right: 35px;
}

.header__address {
    color: rgb(0, 0, 0);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
    text-align: left;
    list-style: none;
    Font-style: normal;
}

.cover {
    position: relative;
    z-index: 2;
    background-image:url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    height: 750px;
}

.cover__title {
    padding: 165px 50px 207px 50px;
}

.accent_span {
    display: block;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 100px;
    font-weight: 700;
    line-height: 115%;
    letter-spacing: 30px;
    text-align: left;
    text-transform: uppercase;
    
}

.text_center {
    text-align: center;
    padding-top: 20px;
    padding-left: 33px;
}

.text_right {
    text-align: center;
    padding-top: 20px;
    padding-left: 615px;
}

.cover__description {
    width: 1000px;
    height: 51px;
    left: 50px;
    right: 50px;
    top: 656px;
    bottom: 50px;
}

.cover__description-text {
    position: absolute;
    width: 637px;
    height: 28px;
    left: 50px;
    top: 668px;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    text-transform: uppercase;
}

.bet-button {
    position: absolute;
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 10px 20px;
    width: 256px;
    height: 51px;
    left: 794px;
    right: -50px;
    top: 656px;
    bottom: -656px;
}

.bet-button-text {
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
}

.lots {
    position: relative;
    margin-top: 180px;
    display: flex;
    flex-direction: row;
    height: 800px;
    width: 1070px;
    gap:60px;
}

.lots__heading {
    margin-left: 64px;
    width: 10px;
    height: 10px;
    color: rgb(0, 0, 0);
    font-family: Raleway;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;

    text-align: left;
    text-transform: uppercase;
}

.lots_p {
    padding-top: 10px;
}

.bolshe {
    padding-left: 65px;
    padding-top: 30px;
    color: rgb(0, 0, 0);
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
}


.lots__card-list {
    height: 600px;
    margin-top: 50px;
    list-style: none;
}

.lots__card-list-item {
    position: absolute;
}

.lots__card-list li {
    width: 300px;
    height: 200px;
}

.card__text {
    z-index: 6;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    text-align: left;
    padding: 274px 40px 48px 40px;
}

.card__title {
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    text-align: left;
    text-decoration-line: underline;
    text-transform: uppercase;
    padding: 48px 40px 0px 40px;
}

.card__text2 {
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    text-align: left;
    padding: 30px 40px 48px 40px;
}

.card__title2 {
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    text-align: left;
    text-decoration-line: underline;
    text-transform: uppercase;
    padding: 48px 40px 0px 40px;
}

.card__text3 {
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    text-align: left;
    padding: 126px 40px 48px 40px;
}

.card__title3 {
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    text-align: left;
    text-decoration-line: underline;
    text-transform: uppercase;
    padding: 48px 40px 0px 40px;
}

.card_type_picture {
    height: 600px;
    width: 335px;
}

.card {
    height: 600px;
    width: 335px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 24px;
}

.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    gap: 20px;
    width: 1052px;
    height: 595px;
    margin-top: 85px;
    margin-left: 20px;
}
.circle {
    display: block;
    position: absolute;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background: black;
    margin-top: 35px;
    margin-left: 47px;

}

.about__text {
    color: rgb(0, 0, 0);
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding-top: 100px;
}

.about__title {
    color: rgb(0, 0, 0);
    font-family: Raleway;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    text-align: left;
    text-transform: uppercase;
}

.about__text1 {
    color: rgb(0, 0, 0);
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding-top: 5px;
}

.about__column {
    display: block;
    padding-top: 135px;
    padding-left: 10px;
}

.about__logo {
    z-index: 1;
    height: 114px;
    width: 141px;
    margin-left: 100px;
    margin-top: 100px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 180px;
}

.address2 {
    display: flex;
    justify-self: start;
    margin-left: 50px;
    margin-bottom: 82px;
    padding-top: 15px;
    padding-left: 10px;
}

.footer__menu {
    display: flex;
    justify-items: center;
    margin-left: 75px;
}

.footer__menu-list-item {
    color: rgb(0, 0, 0);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    list-style: none;
}

.footer__social-list-item {
    display: flex;
    height: 48px;
    width: 240px;
    justify-self: end;
    margin-right: 50px;
    gap: 45px;
    padding-top: 18px;
    padding-left: 14px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay_color {
    position: relative;
    z-index: 2;
    color: white;
}